<!--ネストされた入力フォーム-->
<div class="nested-fields">
          <%= f.hidden_field :user_id, value: @current_user.id %>
          <%= link_to_remove_association "×︎", f, {class: 'remove-plan-detail'}, id: 'remove-link',
                  data: {
                    association_insertion_node: '#remove-plan-detail',
                    association_insertion_method: 'append'
                  } %><br />
          <%= f.label  :日付 %>
          <%= f.date_field :plan_date, value: (f.object.plan_date || Time.now.strftime("%Y-%m-%d")) %><br /><br />
          <%= f.label :到着予定時間 %>
          <%= f.time_field :arrival_time, value: (f.object.arrival_time) %><br /><br />
          <%= f.text_field :place_name,placeholder:"行先" %><br /><br />
          <%= f.text_area :content,placeholder:"やること" %>
</div>