<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    
    <li>
    <%= link_to("ログイン","/login") %>
    </li>
    
    <% if session[:user_id] %>
    <li>
      現在ログインしているユーザのid:
      <%= session[:user_id] %>
    </li>
    <% else %>
    <li>
      <%= link_to("...","/about")  %>
    </li>
    
    <% end %>
    
  </body>
</html>
